html{
    background-color: #e3f2fd;
}
body{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

#content{
    margin: 0 auto;
    padding: 10px;
    min-width: 200px;
    min-height: 400px;
}
