html{
    background-color: darkorange;
   /* background-color: #e3f2fd;*/
}
body{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    /*background-color: white;*/
    border-radius: 5px;
    background-color: chocolate;
}
.inactive{
    background-color: grey;
}
.active{
    background-color: lightyellow;
}
#content{
    margin: 0 auto;
    padding: 10px;
    min-width: 200px;
    min-height: 400px;
    background-color: chocolate;
}
